%heading {
  font-family: $font-display;
  font-weight: 400;
}

.heading-1 {
  @extend %heading;
  font-size: 4.4rem;
  font-style: italic;
  color: $color-grey-light-1;
  line-height: 1;

}
.heading-2 {
  @extend %heading;
  font-size: 4rem;
  font-style: italic;
  line-height: 1;
  &--light {
    color: $color-grey-light-1;
  }
  &--dark {
    color: $color-grey-dark-1;
  }
}
.heading-3 {
  @extend %heading;
  font-size: 1.6rem;
  color: $color-primary;
  text-transform: uppercase;
}
.heading-4 {
  @extend %heading;
  font-size: 1.6rem;

  &--light {
    color: $color-grey-light-1;
  }
  &--dark {
    color: $color-grey-dark-1;
  }
}

.btn {
  font-family: $font-display;
  background-color: $color-primary;
  border: none;
  border-radius: 0;
  padding: 1.8rem 3rem;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  transition: all 0.8s;
  &:hover {
    background-color: $color-primary-dark;
  }
}

.margin-bottom-small {
  margin-bottom: 2rem;
}
.margin-bottom-medium {
  margin-bottom: 3rem;
}
.margin-bottom-big {
  margin-bottom: 4rem;
}

.margin-bottom-huge {
  margin-bottom: 6.4rem;
}
